#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c5031;
  margin-top: 60px;
}
body {
  height:665px;
  background-image: url("../src/image/fondo.jpg")
}
table {
  width: 100%;
  border: 1px solid #000;
}
th, td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
}